@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1b3039;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none; /* Quita los puntos de la lista en la barra de navegación */
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #000;
    color: #fff;
}

footer {
    background: #1A5276;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.social-icon, .menu {
    list-style: none; /* Quita los puntos de las listas en el footer */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon, .menu-icon {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.desplazar{
    margin-left: 40px;
}

.desplazar2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}